In [1]:
import opendatasets as od
import pandas as pd
import numpy as np
import zipfile

In [2]:
DATASET = "victorahaji/worlds-air-quality-and-water-pollution-dataset"
DATASET_FILE_NAME = "cities_air_quality_water_pollution.18-10-2021 (1).csv"
DATASET_FILE_NAME_renamed = "cities_air_quality_water_pollution.18-10-2021%20(1).csv"

In [5]:
from kaggle.api.kaggle_api_extended import KaggleApi
!chmod 600 /Users/rajkandati/.kaggle/kaggle.json

#Download dataset

In [ ]:
api = KaggleApi()
api.authenticate()

In [ ]:
api.dataset_download_file(DATASET,file_name=DATASET_FILE_NAME,force=True)

In [7]:
pd.read_csv(DATASET_FILE_NAME_renamed)

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435
...,...,...,...,...,...
3958,Yanbu,"""Medina Province""","""Saudi Arabia""",0.000000,50.000000
3959,Cordoba,"""Andalusia""","""Spain""",85.714286,8.333333
3960,Vic,"""Catalonia""","""Spain""",100.000000,0.000000
3961,Segovia,"""Castile and Leon""","""Spain""",100.000000,0.000000
3962,Zamora city,"""Castile and Leon""","""Spain""",100.000000,50.000000